@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

  .Home, .Contact, .Apropos {
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
  }
  
  .Home > div , .Contact > div, .Apropos > div {
    padding-top: 300px !important;

  }
  .div-title{
    overflow: hidden;
    height: 78px;
    align-items: center;
    display: flex;
  }

  h1{
    color:white;
    font-family:'Roboto';
    font-size: 3rem;
    text-align:left;
  }

  .load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index:10;
    pointer-events: none;
  }
  
  .load-screen {
    position:absolute;
    bottom:0%;
    left:50%;
    transform:translate(-50%,50%);
    height:0px;
    width:0%;
    background-color: red;
    border-radius:100%;

  }
  

  #quote{
    color:white;
    font-family:'Roboto';
    font-size: 3rem;
    text-align:left;
    font-weight:bold;
  }
  .Headd {
    opacity: 0;
    height:100vh;
  }